.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: black;
    width: 500px;
    font-size: 60px;
    font-family: "Courier New", Courier, monospace;
    margin: auto;
}

.equation-box{
    grid-column: auto / span 4;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*align-items: flex-end;*/


    background-color: black;
    height: 125px;
    padding: 10px 10px;
}

.equation{
    color: white;
}

.equation.w-answer{
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    margin-top: -30px;
    margin-bottom: 30px;
}

.answer{
    position: absolute;
    visibility: hidden;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*align-items: flex-end;*/

    font-size: 40px;

    height: 125px;
    padding: 10px 10px;
}

.answer.appear-animation{
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    margin-top:40px;
    margin-bottom:-40px;
    font-size: 40px;
    color: lightgray;
}

.btn{
    height: 125px;
    font-size: 50px;
}

.left-side{
    background-color: lightgray;
}

.left-side:hover{
    background-color: darkgray;
}

.left-side:active{
    background-color: gray;
}

.right-side{
    background-color: orange;
}

.right-side:hover{
    background-color: rgb(255, 218, 148);
}

.right-side:active{
    background-color: rgb(233, 137, 48);
}

.double{
    grid-column: auto / span 2;
}

.triple{
    grid-column: auto / span 3;
}